.header {
    padding: 0 0 0 0;
}

.logo {
    margin: 0 0 0 10px;
    img {
        width: 230px;
        height: 52px;
    }
}

.header-top-line {
    padding: 18px 0 20px 0;
    background-color: #eaf3fb;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.address {
    position: relative;
    padding: 0 0 0 35px;
    margin: 0 0 0 43px;
    color: #9baec1;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}

.address::before {
    content: '';
    position: absolute;
    left: 0;
    top: -9px;
    display: block;
    width: 26px;
    height: 34px;
    background: url(../img/svg/gps.svg) no-repeat center;
    background-size: cover;
}

.phone {
    position: relative;
    padding: 0 0 0 42px;
    color: #4c536d;
    font-size: 25px;
    font-weight: 900;
    line-height: 20px;
}

.phone:hover {
    color: #4c536d;
}

.phone::before {
    content: '';
    position: absolute;
    left: 0;
    top: -6px;
    display: block;
    width: 35px;
    height: 35px;
    background: url(../img/svg/tel.svg) no-repeat center;
    background-size: cover;
}

.header-bottom-line {
    background-color: white;
    box-shadow: 0 3px 20px rgba(138, 184, 233, 0.24);
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header-bottom-line.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 12px 0 11px 0;
    width: 100%;
    background: #fff;
    z-index: 999;
}

.top-menu {
    padding: 23px 0 24px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    li {}
    a {
        color: black;
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
    }
    a:hover {
        color: #5a9ad8;
    }
}

.logo--fixed,
.phone--fixed {
    display: none;
}

.fixed .top-menu {
    width: 51%;
}

.fixed .logo {
    margin: 0 0 0 0;
}

#hamburger-icon {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 18px;
    height: 14px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#hamburger-icon .line {
    position: absolute;
    right: 0;
    display: block;
    background: #8ab8e9;
    width: 18px;
    height: 2px;
    border-radius: 4px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
}

.line.line-1 {
    top: 0;
}

.line.line-2 {
    top: 50%;
}

.line.line-3 {
    top: 100%;
}

#hamburger-icon.active .line-1 {
    transform: translateY(7px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
    -moz-transform: translateY(7px) translateX(0) rotate(45deg);
    -ms-transform: translateY(7px) translateX(0) rotate(45deg);
    -o-transform: translateY(7px) translateX(0) rotate(45deg);
}

#hamburger-icon.active .line-2 {
    opacity: 0;
}

#hamburger-icon.active .line-3 {
    transform: translateY(-7px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -o-transform: translateY(-7px) translateX(0) rotate(-45deg);
}

.address-mobile {
    display: none;
}