.price {
    padding: 46px 0 0 0;
    margin-bottom: 103px;
    .title {
        color: black;
        font-size: 55px;
        font-weight: 900;
        line-height: 66px;
        text-align: center;
        margin-bottom: 18px;
    }
    .row {
        align-items: stretch;
    }
}

.vars-item {
    padding: 4px 0 5px 0;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 155px;
    max-height: 155px;
}

.vars-item--name {
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 28px;
}

.vars-item {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.vars-item.active {
    background-color: #8ab8e9;
}

.vars-item.active .vars-item--name {
    color: #fff;
}

.vars-item:hover {
    background-color: #8ab8e9;
}

.vars-item:hover .vars-item--name {
    color: #fff;
}

.vars-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 3px 20px rgba(138, 184, 233, 0.24);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-bottom: 22px;
}

.vars-item--img {
    margin-bottom: 0;
    img {
        margin: 0 auto;
    }
}

.price-table-box {
    padding: 13px 0 13px 0;
    background-color: #f3f8fc;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.price-table-box__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 14px 51px 12px 29px;
    border-bottom: 2px solid #eaf3fa;
}

.price-table-box__line:last-child {
    border: none;
}

.name-bug {
    label {
        position: relative;
        padding: 0px 0 0 35px;
        font-size: 18px;
        line-height: 1.25;
        color: #8699ac;
        font-weight: 400;
        margin-bottom: 0;
        cursor: pointer;
    }
    .checkbox {
        opacity: 0;
        visibility: hidden;
        height: 0;
        width: 0;
    }
    label::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 21px;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0 3px 20px rgba(138, 184, 233, 0.19);
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
    }
    .checkbox:checked+label::before {
        background-color: #8ab8e9;
        background-image: url(../img/svg/check.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
    .checkbox:checked+label {
        font-weight: 500;
        color: black;
    }
}

.name-bug label:hover::before {
    background-color: #c7dff9;
    box-shadow: 0 3px 20px rgba(138, 184, 233, 0.19);
}

.price-bug {
    color: #5a9bd9;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.25;
}

.price-order {
    padding: 40px 0 0 0;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 3px 20px rgba(138, 184, 233, 0.24);
    height: 100%;
}

.price-order__ex-item {
    margin-bottom: 29px;
    img {
        margin: 0 auto;
        margin-bottom: 13px;
    }
    span {
        display: block;
        color: #b5cce5;
        font-size: 20px;
        text-align: center;
        font-weight: 500;
        line-height: 1.25;
    }
}

.price-order__ex-item:last-child {
    margin-bottom: 33px;
}

.total-price__val {
    text-align: center;
    padding: 48px 0 0 0;
    border-top: 1px solid #f1f8fd;
    span {
        display: block;
        margin-bottom: -5px;
        color: black;
        font-size: 30px;
        font-weight: 500;
        line-height: 48px;
    }
    b {
        display: block;
        margin-bottom: 29px;
        color: black;
        font-size: 50px;
        font-weight: 900;
        line-height: 1;
        i {
            font-style: normal;
            text-decoration: line-through;
        }
    }
    .btn-red {
        display: block;
        max-width: 221px;
        width: 100%;
        margin: 0 auto;
    }
}

.form-order-price {
    width: 100%;
}